.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  min-width: 350px;
}

header,
main,
footer {
  text-align: center;
  margin: 1rem 0;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .App {
    flex-flow: row wrap;
  }

  header,
  main,
  footer {
    width: 80%;
  }

  footer {
    flex-wrap: wrap;
  }
}

header h1 {
  color: #11468f;
  font-size: 3rem;
  text-align: justify;
  margin: 0;
}

main figure {
  margin: 0;
}

main blockquote {
  background-color: #fafafa;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px 4px 4px 1px;
  border-radius: 5px;

  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  font-weight: 700;

  padding: 2rem;
  margin: 0;
}

main figcaption {
  padding: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 1rem;
}

.footer-info {
  color: #11468f;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem;
}
