.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  min-width: 350px;
}

header,
main,
footer {
  text-align: center;
  margin: 1rem 0;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .App {
    flex-flow: row wrap;
  }

  header,
  main,
  footer {
    width: 80%;
  }

  footer {
    flex-wrap: wrap;
  }
}

header h1 {
  color: #11468f;
  font-size: 3rem;
  text-align: justify;
  margin: 0;
}

main blockquote {
  background-color: #eeeeee;
  border-radius: 5px;

  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  font-weight: 700;

  padding: 2rem;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 1rem;
}

footer section {
  padding: 1rem;
}

footer h2 {
  color: #11468f;
}

footer h2,
footer p {
  font-size: 1rem;
  margin: 0;
}

footer a {
  display: block;
}

footer a,
footer a:active,
footer a:visited {
  color: #000000;
}
