.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  min-width: 350px;
}

header,
main {
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 768px) {
  header,
  main {
    width: 80%;
  }
}

header h1 {
  color: #11468f;
  font-size: 3rem;
}

main blockquote {
  font-family: "Dancing Script", cursive;

  font-size: 3rem;
  font-weight: 700;

  padding: 0;
  margin: 2rem 0;
}
